{% extends "blank.html" %}
{% load staticfiles %}

{% block main %}

    <form method="post" class="form-horizontal">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <legend class="text-center header" style="color: #2e59d9"><strong>NUEVA CATEGORIA</strong></legend>

        <br>
        <div class="form-group">
            <div class="text-center header ">
                <label  class="control-label "><strong>NOMBRE CATEGORIA:</strong></label>
            </div>
            <div class=" text-center header">
                 {{ form.cat_nombre }}
            </div>
        </div>

        <div class="form-group">
            <div class="text-center header ">
                <label  class="control-label "><strong>DESCRIPCION CATEGORIA:</strong></label>
            </div>
            <div class=" text-center header">
                 {{ form.cat_descripcion }}
            </div>
        </div>
<br>
        <div class="form-group">
          <div class=" text-center header">
                   <input class = "btn btn-primary pull-right" type="submit" name="submit" value="AGREGAR CATEGORIA">
            </div>
        </div>

    </form>

{% endblock %}