{% extends "blank.html" %}
{% load staticfiles %}

{% block main %}

    <br>

    <form method="post" class="form-horizontal">
        {% csrf_token %}

        <h5 class="-align-center text-danger">Seguro que desea eliminar el componente del laboratorio seleccionado?</h5>

        <div class="form-group">
            <div class="col-sm-offset-2  col-sm-8">
                   <input class = "btn btn-danger pull-right" type="submit" name="submit" value="Eliminar">
                <a class="btn btn-danger pull-right" href="{% url 'list_laboratorio' %}"> Cancelar </a>
            </div>
        </div>
    </form>

{% endblock %}